[user]
	email = talexander@twilio.com
	name = Ty Alexander
	editor = vim
	username = tya
[github]
	username = tya
[core]
	whitespace = trailing-space,space-before-tab,indent-with-non-tab,cr-at-eol
	autocrlf = false
	excludesfile = /Users/tyalexander/.gitignore_global
	pager = less -F -X
[color]
	diff = auto
	status = auto
	branch = auto
[push]
	default = tracking
[alias]
	ci = commit
	co = checkout
	st = status
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	lp = log -p
	unmerged = !git branch -r --no-merged | grep -v HEAD | xargs -L1 git --no-pager log --pretty=tformat:'%Cgreen%d%Creset | %h | %an | %Cblue%ar%Creset' -1 | column -t -s '|'
	merged =   !git branch -r --merged    | grep -v HEAD | xargs -L1 git --no-pager log --pretty=tformat:'%Cgreen%d%Creset | %h | %an | %Cblue%ar%Creset' -1 | column -t -s '|'
	gf = fetch --all
[url "git@github.com:"]
	insteadOf = https://github.com/
[hub]
	protocol = https
[credential]
	helper = osxkeychain
[merge]
	tool = diffmerge
[mergetool]
	keepBackup = false
[mergetool "diffmerge"]
	cmd = diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
	trustExitCode = true
[diff]
	tool = diffmerge
[difftool "diffmerge"]
	cmd = diffmerge \"$LOCAL\" \"$REMOTE\"
	trustExitCode = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/tyalexander/.git_ci_msg
